site_name: nf-pooled-cellpainting
site_description: A Nextflow pipeline for optical pooled screening combining Cell Painting and barcoding
site_author: Seqera & Broad Institute
repo_url: https://github.com/seqera-services/nf-pooled-cellpainting
repo_name: nf-pooled-cellpainting

theme:
  name: readthedocs

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - tables
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.keys
  - toc:
      permalink: true

plugins:
  - search
  - tags

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/your-org
  version:
    provider: mike

nav:
  - Home: index.md
  - Getting Started:
      - Overview: getting-started/overview.md
      - Installation: getting-started/installation.md
      - Quick Start: getting-started/quickstart.md
  - Usage:
      - Parameters: usage/parameters.md
      - Running Locally: usage/running-locally.md
      - Running on Seqera Platform: usage/seqera-platform.md
  - Developer Guide:
      - Architecture: developer/architecture.md
      - CellProfiler Integration: developer/cellprofiler.md
      - Python Scripts: developer/python-scripts.md
      - Testing: developer/testing.md
  - Reference:
      - Outputs: reference/outputs.md
      - Troubleshooting: reference/troubleshooting.md
