/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    broadinstitute/nf-pooled-cellpainting Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    // 2147483647 is from spot fleet instance being pulled so it is handled differently
    cpus = { task.exitStatus == 2147483647 ? 1 : 1 * task.attempt }
    memory = { task.exitStatus == 2147483647 ? 6.GB : 6.GB * task.attempt }
    time = { task.exitStatus == 2147483647 ? 4.h : 4.h * task.attempt }

    errorStrategy = {
        if (task.exitStatus == 2147483647) {
            task.attempt <= 8 ? 'retry' : 'finish'
        }
        else if (task.exitStatus in ((130..145) + 104 + 175)) {
            task.attempt <= 2 ? 'retry' : 'finish'
        }
        else {
            'finish'
        }
    }
    maxRetries = 8
    maxErrors = '-1'

    // Process-specific resource requirements
    withLabel: process_single {
        cpus = { 1 }
        memory = { task.exitStatus == 2147483647 ? 6.GB : 6.GB * task.attempt }
        time = { task.exitStatus == 2147483647 ? 4.h : 4.h * task.attempt }
    }
    withLabel: qc {
        cpus = { 1 }
        memory = { task.exitStatus == 2147483647 ? 6.GB : 6.GB * task.attempt }
        time = { task.exitStatus == 2147483647 ? 4.h : 4.h * task.attempt }
    }
    withLabel: cellprofiler_basic {
        cpus = { task.exitStatus == 2147483647 ? 1 : 1 * task.attempt }
        memory = { task.exitStatus == 2147483647 ? 2.GB : 2.GB * task.attempt }
        time = { task.exitStatus == 2147483647 ? 8.h : 8.h * task.attempt }
    }
    withLabel: cellprofiler_medium {
        cpus = { task.exitStatus == 2147483647 ? 4 : 4 * task.attempt }
        memory = { task.exitStatus == 2147483647 ? 3.GB : 3.GB * task.attempt }
        time = { task.exitStatus == 2147483647 ? 8.h : 8.h * task.attempt }
    }
    withLabel: cellprofiler_large {
        cpus = { task.exitStatus == 2147483647 ? 4 : 4 * task.attempt }
        memory = { task.exitStatus == 2147483647 ? 12.GB : 12.GB * task.attempt }
        time = { task.exitStatus == 2147483647 ? 8.h : 8.h * task.attempt }
    }
    withLabel: fiji {
        cpus = { task.exitStatus == 2147483647 ? 6 : 6 * task.attempt }
        memory = { task.exitStatus == 2147483647 ? 36.GB : 36.GB * task.attempt }
        time = { task.exitStatus == 2147483647 ? 8.h : 8.h * task.attempt }
    }
    withLabel: process_long {
        time = { task.exitStatus == 2147483647 ? 20.h : 20.h * task.attempt }
    }
    withLabel: process_high_memory {
        memory = { task.exitStatus == 2147483647 ? 200.GB : 200.GB * task.attempt }
    }
    withLabel: error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries = 2
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }
}
