params {
    config_profile_name         = 'LOCAL_TEST'
    config_profile_description  = 'two wells'

    // Input data
    input                       = "/Users/eweisbar/Desktop/LOCAL_RUN/BR00149745_pSMC_E03F03_samplesheet.csv"
    outdir = "/Users/eweisbar/Desktop/LOCAL_RUN/out"
    barcodes                    = "/Users/eweisbar/Documents/projects/POtC/potc_CRISPRi_pilot_library_design.csv"
    fiji_stitchcrop_script      = "${projectDir}/assets/stitchcrop/stitch_crop.env_master.py"
    cycle_metadata_name         = "Cycle"
    callbarcodes_plugin = "/Users/eweisbar/Desktop/github/CellProfiler-plugins/active_plugins/callbarcodes.py"

    painting_illumcalc_cppipe   = "/Users/eweisbar/Desktop/2026_03_20_PotC/1_CP_Illum_MultiCycle.cppipe"
    painting_illumapply_cppipe  = "/Users/eweisbar/Desktop/2026_03_20_PotC/2_CP_Apply_Illum_MultiCycle.cppipe"
    painting_segcheck_cppipe    = "/Users/eweisbar/Desktop/2026_03_20_PotC/3_CP_SegmentationCheck_BR00149745_pSMC.cppipe"
    barcoding_illumcalc_cppipe  = "/Users/eweisbar/Desktop/2026_03_20_PotC/5_BC_Illum.cppipe"
    barcoding_illumapply_cppipe = "/Users/eweisbar/Desktop/2026_03_20_PotC/6_BC_ApplyIllum_Masks.cppipe"
    barcoding_preprocess_cppipe = "/Users/eweisbar/Desktop/2026_03_20_PotC/7_BC_Preprocess_BR00149745_pSMC_Mask.cppipe"
    combinedanalysis_cppipe     = "/Users/eweisbar/Desktop/2026_03_20_PotC/9_Analysis.cppipe"

    range_skip = 4
    painting_quarter_if_round = false
    barcoding_quarter_if_round = false
    painting_imperwell = 80
    barcoding_imperwell = 21
    painting_rows = 10
    barcoding_columns = 5
    painting_columns = 10
    barcoding_columns = 5
    tileperside = 5
    final_tile_size = 2000
    phenix = true
    barcoding_illumapply_grouping = "site"
    barcoding_channame = "DAPI"
}

process {
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_ILLUMAPPLY_BARCODING' {
        cpus   = { 6 * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_ILLUMCALC' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_PREPROCESS' {
        cpus   = { 2 * task.attempt }
        memory = { 7.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:FIJI_STITCHCROP' {
        cpus   = { 1 * task.attempt }
        memory = { 28.GB * task.attempt }
        containerOptions = '--platform linux/amd64'
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_BARCODEALIGN' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_MONTAGEILLUM_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_MONTAGE_STITCHCROP_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_PREPROCESS' {
        cpus   = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_ILLUMAPPLY_PAINTING' {
        cpus   = { 4 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_ILLUMCALC' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_SEGCHECK' {
        cpus   = { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:FIJI_STITCHCROP' {
        cpus   = { 2 * task.attempt }
        memory = { 28.GB * task.attempt }
        containerOptions = '--platform linux/amd64'
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGEILLUM_PAINTING' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGE_SEGCHECK' {
        cpus   = { 1 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGE_STITCHCROP_PAINTING' {
        cpus   = { 2 * task.attempt }
        memory = { 3.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPROFILER_COMBINEDANALYSIS' {
        cpus   = { 3 * task.attempt }
        memory = { 30.GB }
    }
    withName: 'POOLED_CELLPAINTING:MULTIQC' {
        cpus   = { 4 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    errorStrategy = 'retry'
    maxRetries    = 0
}
