/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'CELLPROFILER_ILLUMCALC' {
        publishDir = [
            path: { "${params.outdir}/images/${meta.batch}/illum/${meta.plate}/" },
            pattern: "*.{npy}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QC_MONTAGEILLUM' {
        publishDir = [
            path: { "${params.outdir}/workspace/qc_reports/${meta.batch}/1_illumination" },
            pattern: "*.{png}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CELLPROFILER_ILLUMAPPLY' {
        publishDir = [
            path: { "${params.outdir}/images/${meta.batch}/images_corrected/${meta.arm}/${meta.plate}/" },
            pattern: "*.{csv,tiff}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CELLPROFILER_SEGCHECK' {
        publishDir = [
            path: { "${params.outdir}/workspace/qc_reports/${meta.batch}/3_segcheck/${meta.plate}_${meta.well}/" },
            pattern: "*.{csv,png}",
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                } else if (filename.endsWith('.csv')) {
                    return filename.replace('.csv', "_${meta.well}.csv")
                } else {
                    return filename
                }
            }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
