/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'CELLPROFILER_ILLUMCALC' {
        publishDir = [
            path: { "${params.outdir}/images/${meta.batch}/illum/${meta.plate}/" },
            pattern: "*.{npy}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QC_MONTAGEILLUM_PAINTING' {
        publishDir = [
            path: { "${params.outdir}/workspace/qc_reports//1_illumination_painting/${meta.plate}" },
            pattern: "*.{png}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QC_MONTAGEILLUM_BARCODING' {
        publishDir = [
            path: { "${params.outdir}/workspace/qc_reports//5_illumination_barcoding/${meta.plate}" },
            pattern: "*.{png}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CELLPROFILER_ILLUMAPPLY' {
        publishDir = [
            path: { "${params.outdir}/images/${meta.batch}/images_corrected/${meta.arm}/${meta.plate}/${meta.plate}-${meta.well}" },
            pattern: "*.{csv,tiff}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CELLPROFILER_ILLUMAPPLY_BARCODING' {
        publishDir = [
            path: { "${params.outdir}/images/${meta.batch}/images_aligned/${meta.arm}/${meta.plate}/${meta.plate}-${meta.well}" },
            pattern: "*.{csv,tiff}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QC_BARCODEALIGN' {
        publishDir = [
            path: { "${params.outdir}/workspace/qc_reports/6_alignment/${meta.plate}" },
            pattern: "*.{html,ipynb,png}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'QC_PREPROCESS' {
        publishDir = [
            path: { "${params.outdir}/workspace/qc_reports/7_preprocessing/${meta.plate}" },
            pattern: "*.{html,ipynb,png}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CELLPROFILER_SEGCHECK' {
        publishDir = [
            path: { "${params.outdir}/images/${meta.batch}/images_segmentation/painting/${meta.plate}/${meta.plate}-${meta.well}/" },
            pattern: "*.{csv,png}",
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                } else if (filename.endsWith('.csv')) {
                    return filename.replace('.csv', "_${meta.well}.csv")
                } else {
                    return filename
                }
            }
        ]
    }

    withName: 'QC_MONTAGE_SEGCHECK' {
        publishDir = [
            path: { "${params.outdir}/workspace/qc_reports/3_segmentation/${meta.plate}" },
            pattern: "*.{png}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FIJI_STITCHCROP' {
        publishDir = [
            [
                path: { "${params.outdir}/images/${meta.batch}/images_corrected_stitched/${meta.arm}/${meta.plate}/${meta.plate}-${meta.well}" },
                pattern: "stitched_images/*.tiff",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.replaceAll('stitched_images/', '') }
            ],
            [
                path: { "${params.outdir}/images/${meta.batch}/images_corrected_stitched_10X/${meta.arm}/${meta.plate}/${meta.plate}-${meta.well}" },
                pattern: "stitched_images/TileConfiguration.txt",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.replaceAll('stitched_images/', '') }
            ],
            [
                path: { "${params.outdir}/images/${meta.batch}/images_corrected_cropped/${meta.arm}/${meta.plate}/${meta.plate}-${meta.well}" },
                pattern: "cropped_images/*.tiff",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.replaceAll('cropped_images/', '') }
            ],
            [
                path: { "${params.outdir}/images/${meta.batch}/images_corrected_stitched_10X/${meta.arm}/${meta.plate}/${meta.plate}-${meta.well}" },
                pattern: "downsampled_images/*.tiff",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.replaceAll('downsampled_images/', '') }
            ]
        ]
    }

    withName: 'CELLPROFILER_PREPROCESS' {
        publishDir = [
            path: { "${params.outdir}/images/${meta.batch}/images_corrected/${meta.arm}/${meta.plate}/${meta.plate}-${meta.well}" },
            pattern: "*.{csv,tiff}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CELLPROFILER_COMBINEDANALYSIS' {
        publishDir = [
            [
                path: { "${params.outdir}/workspace/analysis/${meta.batch}/${meta.plate}-${meta.well}-${meta.site}" },
                pattern: "*.{csv,tiff,png}",
                mode: params.publish_dir_mode,
                saveAs: { filename ->
                    if (filename.equals('versions.yml') || filename.equals('load_data.csv')) {
                        return null
                    } else {
                        return filename
                    }
                },
            ],
            [
                path: { "${params.outdir}/workspace/analysis/${meta.batch}/${meta.plate}-${meta.well}-${meta.site}" },
                pattern: "segmentation_masks/*.tiff",
                mode: params.publish_dir_mode,
            ]
        ]
    }



    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
