/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file to build on for 6W plates, original workflow
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run broadinstitute/nf-pooled-cellpainting -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_ILLUMAPPLY_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_ILLUMCALC' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_PREPROCESS' {
        cpus   = { 2 * task.attempt }
        memory = { 7.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:FIJI_STITCHCROP' {
        cpus   = { 1 * task.attempt }
        memory = { 10.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_BARCODEALIGN' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_MONTAGEILLUM_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_MONTAGE_STITCHCROP_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_PREPROCESS' {
        cpus   = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_ILLUMAPPLY_PAINTING' {
        cpus   = { 4 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_ILLUMCALC' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_SEGCHECK' {
        cpus   = { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:FIJI_STITCHCROP' {
        cpus   = { 2 * task.attempt }
        memory = { 14.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGEILLUM_PAINTING' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGE_SEGCHECK' {
        cpus   = { 2 * task.attempt }
        memory = { 12.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGE_STITCHCROP_PAINTING' {
        cpus   = { 2 * task.attempt }
        memory = { 3.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPROFILER_COMBINEDANALYSIS' {
        cpus   = { 3 * task.attempt }
        memory = { 35.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:MULTIQC' {
        cpus   = { 4 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    errorStrategy = 'retry'
    maxRetries    = 2
}

params {
    config_profile_name         = '6W original workflow template profile'
    config_profile_description  = 'Template to build on for 6W plates, original workflow'

    // Input data
    range_skip                  = 12
    fiji_stitchcrop_script      = "${projectDir}/assets/stitchcrop/stitch_crop.env_master.py"
    cycle_metadata_name         = "SBSCycle"

    // Stitching/Cropping parameters - Shared between painting and barcoding
    tileperside                 = 10
    final_tile_size             = 5500

    // Stitching/Cropping parameters - Painting-specific
    painting_round_or_square    = "round"
    painting_quarter_if_round   = true
    painting_overlap_pct        = 10
    painting_scalingstring      = 1.99
    painting_stitchorder        = "Grid: snake by rows"
    painting_channame           = "DNA"

    // Stitching/Cropping parameters - Barcoding-specific
    barcoding_round_or_square   = "round"
    barcoding_quarter_if_round  = true
    barcoding_overlap_pct       = 10
    barcoding_scalingstring     = 1
    barcoding_stitchorder       = "Grid: snake by rows"
    barcoding_channame          = "DAPI"
}
