/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run seqera-services/nf-pooled-cellpainting -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: 'CELLPROFILER_ILLUMCALC' {
        cpus = {2 * task.attempt}
        memory = '1.GB'
        time = '1.h'
    }

    withName: 'CELLPROFILER_ILLUMAPPLY' {
        cpus = {2 * task.attempt}
        memory = {2.GB * task.attempt}
        time = '1.h'
    }

    withName: 'FIJI_STITCHCROP' {
        containerOptions = { workflow.containerEngine == 'docker' ? '--entrypoint="" -e CROP_PERCENT=25' : '' }
    }

}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input        = "${projectDir}/assets/samplesheet.csv"
    barcodes     = "s3://nf-pooled-cellpainting-sandbox/data/test-data/fix-s1_sub25/Source1/workspace/metadata/Barcodes.csv"
    range_skip   = 2
}
