/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run seqera-services/nf-pooled-cellpainting -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

env {
    NXF_OPTS = '-Xms4g -Xmx16g -XX:+UseG1GC'
}

process {
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_ILLUMAPPLY_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 6.GB * task.attempt }
    }

    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGE_SEGCHECK' {
        cpus   = { 2 * task.attempt }
        memory = { 12.GB * task.attempt }
    }
}

params {
    config_profile_name         = 'Full test profile'
    config_profile_description  = 'Full test dataset to check pipeline function'

    // Input data
    input                       = "${projectDir}/assets/samplesheet_test_full.csv"
    barcodes                    = "s3://nf-pooled-cellpainting-sandbox/data/test-data/fix-l1/Source1/workspace/metadata/Barcodes.csv"
    range_skip                  = 12
    fiji_stitchcrop_script      = "${projectDir}/bin/stitch_crop.env_master.py"

    painting_illumcalc_cppipe   = "${projectDir}/assets/cellprofiler/painting_illumcalc_cppipe.template"
    painting_illumapply_cppipe  = "${projectDir}/assets/cellprofiler/painting_illumapply.cppipe"
    painting_segcheck_cppipe    = "${projectDir}/assets/cellprofiler/painting_segcheck.cppipe"
    barcoding_illumcalc_cppipe  = "${projectDir}/assets/cellprofiler/barcoding_illumcalc_cppipe.template"
    barcoding_illumapply_cppipe = "${projectDir}/assets/cellprofiler/barcoding_illumapply.cppipe"
    barcoding_preprocess_cppipe = "${projectDir}/assets/cellprofiler/barcoding_preprocess.cppipe"
    combinedanalysis_cppipe     = "${projectDir}/assets/cellprofiler/combined_analysis.cppipe"

    // Stitching/Cropping parameters - Shared between painting and barcoding
    // Stitching/Cropping parameters - Painting-specific
    painting_round_or_square    = "round"
    painting_quarter_if_round   = true
    painting_overlap_pct        = 10
    painting_scalingstring      = 2
    painting_imperwell          = "1025"
    // Used if round - no default value was set in original script
    painting_rows               = 2
    // Used if square
    painting_columns            = 2
    // Used if square
    painting_stitchorder        = "Grid: snake by rows"

    // Stitching/Cropping parameters - Barcoding-specific
    barcoding_round_or_square   = "round"
    barcoding_quarter_if_round  = true
    barcoding_overlap_pct       = 10
    barcoding_scalingstring     = 2
    barcoding_imperwell         = "1025"
    // Used if round - no default value was set in original script
    barcoding_rows              = 2
    // Used if square
    barcoding_columns           = 2
    // Used if square
    barcoding_stitchorder       = "Grid: snake by rows"

    tileperside                 = 10
    final_tile_size             = 5500
}
