/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run seqera-services/nf-pooled-cellpainting -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGE_SEGCHECK' {
        cpus   = { 2 * task.attempt }
        memory = { 12.GB * task.attempt }
    }

    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_ILLUMAPPLY_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_SEGCHECK' {
        cpus   = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_PREPROCESS' {
        cpus   = { 4 * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPROFILER_COMBINEDANALYSIS' {
        cpus   = { 4 * task.attempt }
        memory = { 12.GB * task.attempt }
    }
}

params {
    config_profile_name         = 'CPG0032-pooled-rare test profile'
    config_profile_description  = 'Test for cpg0032-pooled-rare dataset'

    // Input data
    input                       = "s3://nf-pooled-cellpainting-sandbox/data/test-data/cpg0032-output/Source1/workspace/samplesheets/samplesheet1.csv"
    barcodes                    = "s3://cellpainting-gallery/cpg0032-pooled-rare/broad/workspace/metadata/2025_06_23_Batch3/Barcodes.csv"
    range_skip                  = 12
    fiji_stitchcrop_script      = "${projectDir}/bin/stitch_crop.env_master.py"
    cycle_metadata_name         = "SBSCycle"

    painting_illumcalc_cppipe   = "${projectDir}/assets/cp0032_test_cppipes/1_CP_Illum.cppipe"
    painting_illumapply_cppipe  = "${projectDir}/assets/cp0032_test_cppipes/2_CP_Apply_Illum.cppipe"
    painting_segcheck_cppipe    = "${projectDir}/assets/cp0032_test_cppipes/3_CP_SegmentationCheck.cppipe"
    barcoding_illumcalc_cppipe  = "${projectDir}/assets/cp0032_test_cppipes/5_BC_Illum.cppipe"
    barcoding_illumapply_cppipe = "${projectDir}/assets/cp0032_test_cppipes/6_BC_Apply_Illum.cppipe"
    barcoding_preprocess_cppipe = "${projectDir}/assets/cp0032_test_cppipes/7_BC_Preprocess.cppipe"
    combinedanalysis_cppipe     = "${projectDir}/assets/cp0032_test_cppipes/9_Analysis.cppipe"

    // Stitching/Cropping parameters - Shared between painting and barcoding
    // Stitching/Cropping parameters - Painting-specific
    painting_round_or_square    = "round"
    painting_quarter_if_round   = true
    painting_overlap_pct        = 10
    painting_scalingstring      = 2
    painting_imperwell          = "256"
    painting_stitchorder        = "Grid: snake by rows"

    // Stitching/Cropping parameters - Barcoding-specific
    barcoding_round_or_square   = "round"
    barcoding_quarter_if_round  = true
    barcoding_overlap_pct       = 10
    barcoding_scalingstring     = 2
    barcoding_imperwell         = "56"
    barcoding_stitchorder       = "Grid: snake by rows"

    tileperside                 = 5
    final_tile_size             = 5500
}
