/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run seqera-services/nf-pooled-cellpainting -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]

    // Wildcard: sets containerOptions for ALL FIJI_STITCHCROP processes
    withName: '.*:FIJI_STITCHCROP' {
        containerOptions = '-e CROP_PERCENT=25'
    }
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${projectDir}/assets/samplesheet.onlyA1.csv"
    barcodes = "s3://nf-pooled-cellpainting-sandbox/data/test-data/fix-s1_sub25/Source1/workspace/metadata/Barcodes.csv"
    range_skip = 2
    fiji_stitchcrop_script = "${projectDir}/bin/stitch_crop.test.py"

    painting_illumcalc_cppipe = "${projectDir}/assets/cellprofiler/painting_illumcalc_cppipe.template"
    painting_illumapply_cppipe = "${projectDir}/assets/cellprofiler/painting_illumapply.cppipe"
    painting_segcheck_cppipe = "${projectDir}/assets/cellprofiler/painting_segcheck.cppipe"
    barcoding_illumcalc_cppipe = "${projectDir}/assets/cellprofiler/barcoding_illumcalc_cppipe.template"
    barcoding_illumapply_cppipe = "${projectDir}/assets/cellprofiler/barcoding_illumapply.cppipe"
    barcoding_preprocess_cppipe = "${projectDir}/assets/cellprofiler/barcoding_preprocess.cppipe"
    combinedanalysis_cppipe = "${projectDir}/assets/cellprofiler/combined_analysis.cppipe"

    // Stitching/Cropping parameters - Shared between painting and barcoding
    // Stitching/Cropping parameters - Painting-specific
    painting_round_or_square = "square"
    painting_quarter_if_round = true
    painting_overlap_pct = 10
    painting_scalingstring = 2
    painting_imperwell = "unused"
    // Used if round - no default value was set in original script
    painting_rows = 2
    // Used if square
    painting_columns = 2
    // Used if square
    painting_stitchorder = "Grid: snake by rows"

    // Stitching/Cropping parameters - Barcoding-specific
    barcoding_round_or_square = "square"
    barcoding_quarter_if_round = true
    barcoding_overlap_pct = 10
    barcoding_scalingstring = 2
    barcoding_imperwell = "unused"
    // Used if round - no default value was set in original script
    barcoding_rows = 2
    // Used if square
    barcoding_columns = 2
    // Used if square
    barcoding_stitchorder = "Grid: snake by rows"

    tileperside = 2
    final_tile_size = 800
}
