process {
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_ILLUMAPPLY_BARCODING' {
        cpus   = { 6 * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_ILLUMCALC' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:CELLPROFILER_PREPROCESS' {
        cpus   = { 2 * task.attempt }
        memory = { 7.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:FIJI_STITCHCROP' {
        cpus   = { 1 * task.attempt }
        memory = { 10.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_BARCODEALIGN' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_MONTAGEILLUM_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_MONTAGE_STITCHCROP_BARCODING' {
        cpus   = { 2 * task.attempt }
        memory = { 6.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:BARCODING:QC_PREPROCESS' {
        cpus   = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_ILLUMAPPLY_PAINTING' {
        cpus   = { 4 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_ILLUMCALC' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:CELLPROFILER_SEGCHECK' {
        cpus   = { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:FIJI_STITCHCROP' {
        cpus   = { 2 * task.attempt }
        memory = { 14.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGEILLUM_PAINTING' {
        cpus   = { 2 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGE_SEGCHECK' {
        cpus   = { 1 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPAINTING:QC_MONTAGE_STITCHCROP_PAINTING' {
        cpus   = { 2 * task.attempt }
        memory = { 3.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:CELLPROFILER_COMBINEDANALYSIS' {
        cpus   = { 3 * task.attempt }
        memory = { 35.GB * task.attempt }
    }
    withName: 'POOLED_CELLPAINTING:MULTIQC' {
        cpus   = { 4 * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    errorStrategy = 'retry'
    maxRetries    = 2
}
